<table class="table table-hover table-inverse" width="100%" style="table-layout: auto; background-color: #FFDBC9;">
  <thead>
    <tr>
      <th><span class="nowrap">日にち</span></th>
      <th><span class="nowrap">対戦チーム</span></th>
      <th><span class="nowrap">スコア</span></th>
      <th><span class="nowrap">勝敗</span></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% team_records.each do |record| %>
      <tr>
        <td><span class="nowrap"><%= record.days %></span></td>
        <td><span class="nowrap"><%= record.opponent %></span></td>
        <td><span class="nowrap"><%= record.team_score %> ー <%= record.rival_score %></span></td>
        <td><span class="nowrap"><%= record.result %></span></td>
        <td>
          <div class="show-btn">
            <span class="nowrap"><%= link_to "詳細", team_record_path(record), data: {"turbolinks" => false}, class: 'btn btn-success team-record-show-button' %></span>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
