<div class="container mt-5">
  <div class="row new-team-form">
    <div class="mx-auto">
      <h2 class="new-team-head">チーム選択</h2>
      <% if @team.errors.any? %>
        <div id="error_explanation">
          <p>チーム名、市町村を記入してください</p>
        </div>
      <% end %>
      <div class="team-select">
        <%= form_with model:@team, local: true do |f| %>
          <div class="already-team">
          　<%= f.radio_button :team, 0, checked: "checked" %>
            <%= f.label :teamselect, "既にチームに加入している方" %><br>
            <%= f.collection_select(:id, @teams, :id,:team_address, {prompt: "チームを選択してください"} ) %>
          </div>
          <div class="new-team">
            <%= f.radio_button :team, 1 %>
            <%= f.label :teamselect, "新しくチームを作る方" %>
            <div class="field">
              <label for="teamname">チーム名</label>
                <%= f.text_field :teamname, class: 'col-xs-12' %>
            </div>
            <div class="field">
              <label for="prefecture_code">都道府県</label>
              <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name %>
            </div>
            <div class="field team-city">
              <label for="city">市町村</label>
              <%= f.text_field :city %>
            </div>
            <div class="team-actions">
              <%= f.submit "登録する", class: "btn btn-info" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

