<div class="body">
  <div class="container mt-5 flame">
    <div class="row">
      <div class="col-xs-6 member">
        <h4>選手一覧</h4>
        <div class="post-player" style="height:500px; overflow-x:scroll;">
          <table class="table table-hover table-inverse" width="100%" style="table-layout: auto;">
            <thead>
              <tr>
                <th><span class="nowrap">名前</span></th>
                <th><span class="nowrap">ポジション</span></th>
                <th><span class="nowrap">投打</span></th>
                <th><span class="nowrap">打率</span></th>
              </tr>
            </thead>
            <tbody>
              <% @team_users.each do |user| %>
                <tr>
                  <td><span class="nowrap"><%= user.name %></span></td>
                  <td><span class="nowrap"><%= user.position %></span></td>
                  <td><span class="nowrap"><%= user.throw %></span></td>
                  <% average = user.records.all.sum(:hit)/user.records.all.sum(:batting).to_f %>
                  <td><span class="nowrap"><%= sprintf("%.3f",average) %></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= link_to "戻る", team_path(current_user.team_id), data: {"turbolinks" => false}, class: 'btn btn-secondary' %>
      </div>
      <div class="col-xs-6 team-post-comment">
        <div class="comment-form">
          <%= form_with(model:[@team, @post_comment]) do |f| %>
            <%= f.text_area :comment, rows:'1', class: "form-control",placeholder: "コメント" %>
            <%#= f.submit "送信", class: 'btn btn-primary' %>
            <%#= form_with model:[@team, @post_comment], url: team_post_comments_path, local: true do |f| %>
            <div class="icon-form">
              <%= f.label :image, for: "file-input", class: "fas fa-image" do %>
            　   <%= attachment_image_tag @post_comment, :image, fallback: 'no_image.jpg', format: 'jpeg', size:'100x100', onChange: "$('.img_field').change()", class: 'center-block img_prev'%>
              　<%= f.file_field :image, class: 'img_field', id: "file-input", style: "display: none;" %>
              <% end %>
              <%= button_tag :type => "submit", :class =>"btn sub-btn" do %>
                <i class="fas fa-paper-plane"></i>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="post_comments" style="height:500px; overflow-x:scroll;">
          <%= render 'post_comments/index', team: @team %>
        </div>
      </div>
    </div>
  </div>
</div>

