<table  class="table table-hover table-inverse" width="100%" style="table-layout: auto; background-color: #FFFFCC">
  <thead>
    <tr align="center">
      <th><span class="nowrap">打率</span></th>
      <th><span class="nowrap">打席</span></th>
      <th><span class="nowrap">打数</span></th>
      <th><span class="nowrap">安打</span></th>
      <th><span class="nowrap">本塁打</span></th>
      <th><span class="nowrap">二塁打</span></th>
      <th><span class="nowrap">三塁打</span></th>
      <th><span class="nowrap">打点</span></th>
      <th><span class="nowrap">得点</span></th>
      <th><span class="nowrap">三振</span></th>
      <th><span class="nowrap">四死球</span></th>
      <th><span class="nowrap">犠打</span></th>
      <th><span class="nowrap">犠飛</span></th>
      <th><span class="nowrap">出塁率</span></th>
      <th><span class="nowrap">盗塁</span></th>
      <th><span class="nowrap">失策</span></th>
    </tr>
  </thead>
  <tr align="center">
    <td>
      <% begin %>
        <% average = user_record.all.sum(:hit)/user_record.all.sum(:batting).to_f %>
        <span class="nowrap"><%= sprintf("%.3f",average) %></span>
      <% rescue %>
        0
      <% end %>
    </td>
    <td><span class="nowrap"><%= user_record.all.sum(:bat) %></span></td>
    <td><span class="nowrap"><%= user_record.all.sum(:batting) %></span></td>
    <td><span class="nowrap"><%= user_record.all.sum(:hit) %></span></td>
    <td><span class="nowrap"><%= user_record.all.sum(:homerun) %></span></td>
    <td><span class="nowrap"><%= user_record.all.sum(:two_base_hit) %></span></td>
    <td><span class="nowrap"><%= user_record.all.sum(:three_base_hit) %></span></td>
    <td><span class="nowrap"><%= user_record.all.sum(:dot) %></span></td>
    <td><span class="nowrap"><%= user_record.all.sum(:homein) %></span></td>
    <td><span class="nowrap"><%= user_record.all.sum(:strike_out) %></span></td>
    <td><span class="nowrap"><%= user_record.all.sum(:ball) %></span></td>
    <td><span class="nowrap"><%= user_record.all.sum(:bunt) %></span></td>
    <td><span class="nowrap"><%= user_record.all.sum(:sacrifice_fly) %></span></td>
    <td>
      <% begin %>
        <% base = user_record.all.sum(:hit)/user_record.all.sum(:batting).to_f %>
        <span class="nowrap"><%= sprintf("%.3f",base) %></span>
      <% rescue %>
        0
      <% end %>
    </td>
    <td><span class="nowrap"><%= user_record.all.sum(:still) %></span></td>
    <td><span class="nowrap"><%= user_record.all.sum(:error) %></span></td>
  </tr>
</table>
