<div class="body">
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <h2><%= @user.name %></h2>
        <div class="row records">
          <div class="user-record">
            <h2>打撃成績</h2>
            <div class="row">
              <h4><%= @user_record.all.sum(:game) %>試合</h4>
              <h4><%= @user_record.all.sum(:bat) %>打席 <%= @user_record.all.sum(:batting) %>打数 <%= @user_record.all.sum(:hit) %>安打</h4>
              <h4>打率
                <% begin %>
                <%= (@user_record.all.sum(:hit)) / (@user_record.all.sum(:batting)).to_f %>
                <% rescue %>
                0
                <% end %>
              </h4>
              <h4>二塁打<%= @user_record.all.sum(:two_base_hit) %> 三塁打<%= @user_record.all.sum(:three_base_hit) %> 本塁打<%= @user_record.all.sum(:homerun) %></h4>
              <h4>三振<%= @user_record.all.sum(:strike_out) %> 四死球<%= @user_record.all.sum(:ball) %> 犠打<%= @user_record.all.sum(:bunt) %></h4>
              <h4>打点<%= @user_record.all.sum(:dot) %> 得点<%= @user_record.all.sum(:homein) %> 犠飛<%= @user_record.all.sum(:sacrifice_fly) %></h4>
              <h4>盗塁<%= @user_record.all.sum(:still) %> 失策<%= @user_record.all.sum(:error) %></h4>
              <h4>出塁率
                <% begin %>
                <%= (@user_record.all.sum(:hit) + @user_record.all.sum(:ball)) % (@user_record.all.sum(:batting) + @user_record.all.sum(:ball) + @user_record.all.sum(:sacrifice_fly)) %>
                <% rescue %>
                0
                <% end %>
              </h4>
            </div>
          </div>
          <div class="user-record">
            <h2>投手成績</h2>
            <div class="row">
              <h4><%= @user_record.all.sum(:game) %>試合 <%= @user_record.all.sum(:win) %>勝 <%= @user_record.all.sum(:lose) %>敗</h4>
              <h4>防御率
                <% begin %>
                <%= @user_record.all.sum(:earned_run) % @user_record.all.sum(:inning) %> 勝率<%= @user_record.all.sum(:win) % (@user_record.all.sum(:win) + @user_record.all.sum(:lose)) %>
                <% rescue %>
                0.00 勝率 0.00
                <% end %>
              </h4>
              <h4>投球回 <%= @user_record.all.sum(:inning) %></h4>
              <h4>被安打 <%= @user_record.all.sum(:to_be_hit) %> 被本塁打 <%= @user_record.all.sum(:to_be_homerun) %></h4>
              <h4>奪三振 <%= @user_record.all.sum(:to_be_strike_out) %> 与四死球 <%= @user_record.all.sum(:to_be_ball) %></h4>
              <h4>失点 <%= @user_record.all.sum(:to_be_point) %> 自責点 <%= @user_record.all.sum(:earned_run) %></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="new-record">
      <div class="row">
        <div class="mx-auto">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            記録の追加
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">記録の追加</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <%= form_with modal:@record, url: records_path, method: :post do |f| %>
                  <div class="modal-body">
                    <div class="form_group">
                      <%= f.label :試合日, class: 'control-label' %>
                      <%= f.date_field :created_at, class: 'form-control' %>
                    </div>
                    <h2>打者記録</h2>
                    <div class="form_group">
                      <%= f.label :打席, class: "col-sm-3" %>
                      <%= f.number_field :bat %>
                    </div>
　　　　　　　　　　<div class="form_group">
                      <%= f.label :打数, class: "col-sm-3" %>
                      <%= f.number_field :batting %>
                    </div>
                    <div class="form_group">
                      <%= f.label :安打, class: "col-sm-3 control-label" %>
                      <%= f.number_field :hit %>
                    </div>
                    <div class="form_group">
                      <%= f.label :二塁打, class: "col-sm-3 control-label" %>
                      <%= f.number_field :two_base_hit %>
                    </div>
                    <div class="form_group">
                      <%= f.label :三塁打, class: "col-sm-3 control-label" %>
                      <%= f.number_field :three_base_hit %>
                    </div>
                    <div class="form_group">
                      <%= f.label :本塁打, class: "col-sm-3 control-label" %>
                      <%= f.number_field :homerun %>
                    </div>
                    <div class="form_group">
                      <%= f.label :三振, class: "col-sm-3 control-label" %>
                      <%= f.number_field :strike_out %>
                    </div>
                    <div class="form_group">
                      <%= f.label :四死球, class: "col-sm-3 control-label" %>
                      <%= f.number_field :ball %>
                    </div>
                    <div class="form_group">
                      <%= f.label :犠打, class: "col-sm-3 control-label" %>
                      <%= f.number_field :bunt %>
                    </div>
                    <div class="form_group">
                      <%= f.label :犠飛, class: "col-sm-3 control-label" %>
                      <%= f.number_field :sacrifice_fly %>
                    </div>
                    <div class="form_group">
                      <%= f.label :打点, class: "col-sm-3 control-label" %>
                      <%= f.number_field :dot %>
                    </div>
                    <div class="form_group">
                      <%= f.label :得点, class: "col-sm-3 control-label" %>
                      <%= f.number_field :homein %>
                    </div>
                    <div class="form_group">
                      <%= f.label :盗塁, class: "col-sm-3 control-label" %>
                      <%= f.number_field :still %>
                    </div>
                    <div class="form_group">
                      <%= f.label :失策, class: "col-sm-3 control-label" %>
                      <%= f.number_field :error %>
                    </div>
                    <h2>投手記録</h2>
                    <div class="form_group">
                      <%= f.label :勝, class: "col-sm-3 control-label" %>
                      <%= f.number_field :win %>
                    </div>
                    <div class="form_group">
                      <%= f.label :敗, class: "col-sm-3 control-label" %>
                      <%= f.number_field :lose %>
                    </div>
                    <div class="form_group">
                      <%= f.label :投球回, class: "col-sm-3 control-label" %>
                      <%= f.number_field :inning %>
                    </div>
                    <div class="form_group">
                      <%= f.label :被安打, class: "col-sm-3 control-label" %>
                      <%= f.number_field :to_be_hit %>
                    </div>
                    <div class="form_group">
                      <%= f.label :被本塁打, class: "col-sm-3 control-label" %>
                      <%= f.number_field :to_be_homerun %>
                    </div>
                    <div class="form_group">
                      <%= f.label :奪三振, class: "col-sm-3 control-label" %>
                      <%= f.number_field :to_be_strike_out %>
                    </div>
                    <div class="form_group">
                      <%= f.label :与四死球, class: "col-sm-3 control-label" %>
                      <%= f.number_field :to_be_ball %>
                    </div>
                    <div class="form_group">
                      <%= f.label :失点, class: "col-sm-3 control-label" %>
                      <%= f.number_field :to_be_point %>
                    </div>
                    <div class="form_group">
                      <%= f.label :自責点, class: "col-sm-3 control-label" %>
                      <%= f.number_field :earned_run %>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    <%= f.submit "記録を追加する", class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
