<div class="body">
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <%= @user.name %>
        <div class="row">
          <div class="batting-record">
            <h2>打撃成績</h2>
            <div class="row">

              <h4><%= @records.bat %>打席
        </div>
      </div>
    </div>
    <div class="new-record">
      <div class="row">
        <div class="mx-auto">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">記録の追加</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <%= form_with modal:@record, local: true do |f| %>
                  <div class="modal-body">
                    <div class="form_group">
                      <%= f.label :試合日, class: 'control-label' %>
                      <%= f.date_field :created_at, class: 'form-control' %>
                    </div>
                    <div class="form_group">
                      <%= f.label :打席, class: "col-sm-2 control-label" %>
                      <%= f.number_field :bat %>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
