<div class="batting-record">
  <h2>打撃成績</h2>
  <div class="row">
    <h4><%= user_record.all.sum(:game) %>試合<br>
    <%= user_record.all.sum(:bat) %>打席 <%= user_record.all.sum(:batting) %>打数 <%= user_record.all.sum(:hit) %>安打</h4><br>
    <h4>打率
      <% begin %>
        <%= (user_record.all.sum(:hit)) % (user_record.all.sum(:batting)).floor %>
      <% rescue %>
        0
      <% end %>
    </h4>
    <h4>二塁打<%= user_record.all.sum(:two_base_hit) %> 三塁打<%= user_record.all.sum(:three_base_hit) %> 本塁打<%= user_record.all.sum(:homerun) %></h4>
    <h4>三振<%= user_record.all.sum(:strike_out) %> 四死球<%= user_record.all.sum(:ball) %> 犠打<%= user_record.all.sum(:bunt) %></h4>
    <h4>打点<%= user_record.all.sum(:dot) %> 得点<%= user_record.all.sum(:homein) %> 犠飛<%= user_record.all.sum(:sacrifice_fly) %></h4>
    <h4>盗塁<%= user_record.all.sum(:still) %> 失策<%= user_record.all.sum(:error) %></h4>
    <h4>出塁率
      <% begin %>
        <%= (user_record.all.sum(:hit) + user_record.all.sum(:ball)) % (user_record.all.sum(:batting) + user_record.all.sum(:ball) + user_record.all.sum(:sacrifice_fly)) %>
      <% rescue %>
        0
      <% end %>
    </h4>
  </div>
</div>
<div class="pitching-record">
  <h2>投手成績</h2>
  <div class="row">
    <h4><%= user_record.all.sum(:game) %>試合 <%= user_record.all.sum(:win) %>勝 <%= user_record.all.sum(:lose) %>敗</h4>
    <h4>防御率
      <% begin %>
        <%= user_record.all.sum(:earned_run) % user_record.all.sum(:inning) %> 勝率<%= user_record.all.sum(:win) % (user_record.all.sum(:win) + @user_record.all.sum(:lose)) %>
      <% rescue %>
        0.00  勝率 0.00
      <% end %>
    </h4>
    <h4>投球回 <%= user_record.all.sum(:inning) %></h4>
    <h4>被安打 <%= user_record.all.sum(:to_be_hit) %> 被本塁打 <%= user_record.all.sum(:to_be_homerun) %></h4>
    <h4>奪三振 <%= user_record.all.sum(:to_be_strike_out) %> 与四死球 <%= user_record.all.sum(:to_be_ball) %></h4>
    <h4>失点 <%= user_record.all.sum(:to_be_point) %> 自責点 <%= user_record.all.sum(:earned_run) %></h4>
  </div>
</div>
