<div class="body">
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <h2>打者記録一覧</h2>
        <div class="row">
          <table class="table table-hover table-inverse">
            <thead>
              <tr align="center">

                <th>名前</th>
                <th>試合</th>
                <th>打率</th>
                <th>打数</th>
                <th>安打</th>
                <th>本塁打</th>
                <th>二塁打</th>
                <th>三塁打</th>
                <th>打点</th>
                <th>得点</th>
                <th>三振</th>
                <th>四死球</th>
                <th>犠打</th>
                <th>犠飛</th>
                <th>出塁率</th>
                <th>盗塁</th>
                <th>失策</th>
              </tr>
            </thead>
            <tbody>
              <% @user.each do |user| %>
                <tr align="center">

                  <td><%= user.name %></td>
                  <td><%= user.records.all.sum(:game) %></td>
                  <td></td>
                  <td><%= user.records.all.sum(:batting) %></td>
                  <td><%= user.records.all.sum(:hit) %></td>
                  <td><%= user.records.all.sum(:homerun) %></td>
                  <td><%= user.records.all.sum(:two_base_hit) %></td>
                  <td><%= user.records.all.sum(:three_base_hit) %></td>
                  <td><%= user.records.all.sum(:dot) %></td>
                  <td><%= user.records.all.sum(:homein) %></td>
                  <td><%= user.records.all.sum(:strike_out) %></td>
                  <td><%= user.records.all.sum(:ball) %></td>
                  <td><%= user.records.all.sum(:bunt) %></td>
                  <td><%= user.records.all.sum(:sacrifice_fly) %></td>
                  <td></td>
                  <td><%= user.records.all.sum(:still) %></td>
                  <td><%= user.records.all.sum(:error) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>