<div class="body">
  <div class="container mt-5">
    <div class="row record-top">
      <div class="col-xs-4">
        <h2>打者記録一覧</h2>
      </div>
      <div class="col-xs-8 record-select">
        <%= form_with url: records_batter_path, method: :get, local:true do |f| %>
          <%= f.select :search_column, [["打率", "average"], ["打数", "batting"], ["安打", "hit"],
          ["本塁打", "homerun"], ["二塁打", "two_base_hit"], ["三塁打", "three_base_hit"], ["打点", "dot"], ["得点", "homein"], ["三振", "strike_out"],
          ["四死球", "ball"], ["犠打", "bunt"], ["犠飛", "sacrifice_fly"], ["出塁率", "base"], ["盗塁", "still"], ["失策", "error"]],
          {selected: "search_column"} %>
          <%= f.submit "更新する" %>
        <% end %>
      </div>
      <div class="record_link">
        <p><%= link_to "投手成績一覧へ", records_pitch_path, class: 'btn btn-info' %><p>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <table class="table table-hover table-inverse" width="100%" style="table-layout: auto;">
          <thead>
            <tr align="center">
              <th><span class="nowrap">順位</span></th>
              <th></th>
              <th><span class="nowrap">名前</span></th>
              <th></th>
              <th><span class="nowrap">打率</span></th>
              <th><span class="nowrap">打数</span></th>
              <th><span class="nowrap">安打</span></th>
              <th><span class="nowrap">本塁打</span></th>
              <th><span class="nowrap">二塁打</span></th>
              <th><span class="nowrap">三塁打</span></th>
              <th><span class="nowrap">打点</span></th>
              <th><span class="nowrap">得点</span></th>
              <th><span class="nowrap">三振</span></th>
              <th><span class="nowrap">四死球</span></th>
              <th><span class="nowrap">犠打</span></th>
              <th><span class="nowrap">犠飛</span></th>
              <th><span class="nowrap">出塁率</span></th>
              <th><span class="nowrap">盗塁</span></th>
              <th><span class="nowrap">失策</span></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each.with_index(1) do |user, i| %>
              <tr align="center">
                <td><%= i %></td>
                <td><%= attachment_image_tag user, :image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40', class: 'image' %></td>
                <td><span class="nowrap"><%= user.name %></span></td>
                <td><span class="nowrap"><%= user.team.teamname %></span></td>
                <td><span class="nowrap"><%= sprintf("%.3f", user.average / 10000.0) %></span></td>
                <td><span class="nowrap"><%= user.batting %></span></td>
                <td><span class="nowrap"><%= user.hit %></span></td>
                <td><span class="nowrap"><%= user.homerun %></span></td>
                <td><span class="nowrap"><%= user.two_base_hit %></span></td>
                <td><span class="nowrap"><%= user.three_base_hit %></span></td>
                <td><span class="nowrap"><%= user.dot %></span></td>
                <td><span class="nowrap"><%= user.homein %></span></td>
                <td><span class="nowrap"><%= user.strike_out %></span></td>
                <td><span class="nowrap"><%= user.ball %></span></td>
                <td><span class="nowrap"><%= user.bunt %></span></td>
                <td><span class="nowrap"><%= user.sacrifice_fly %></span></td>
                <td><span class="nowrap"><%= sprintf("%.3f", user.base / 10000.0) %></span></td>
                <td><span class="nowrap"><%= user.still %></span></td>
                <td><span class="nowrap"><%= user.error %></span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
