<div class="body">
  <div class="container mt-5">
    <div class="row">
      <div class="col-xs-4">
        <h2>打者記録一覧</h2>
      </div>
      <div class="col-xs-8">
        <%= form_with url: records_batter_path, method: :get, local:true do |f| %>
          <%= f.select :search_column, [["打率", "average"], ["打数", "batting"], ["安打", "hit"],
          ["本塁打", "homerun"], ["二塁打", "two_base_hit"], ["三塁打", "three_base_hit"], ["打点", "dot"], ["得点", "homein"], ["三振", "strike_out"],
          ["四死球", "ball"], ["犠打", "bunt"], ["犠飛", "sacrifice_fly"], ["出塁率", "base"], ["盗塁", "still"], ["失策", "error"]],
          {prompt: "-- 記録を選択してください --"} %>
          <%= f.submit "更新する" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <table class="table table-hover table-inverse">
          <thead>
            <tr align="center">
              <th>チーム名</th>
              <th>名前</th>
              <th>試合</th>
              <th>打率</th>
              <th>打数</th>
              <th>安打</th>
              <th>本塁打</th>
              <th>二塁打</th>
              <th>三塁打</th>
              <th>打点</th>
              <th>得点</th>
              <th>三振</th>
              <th>四死球</th>
              <th>犠打</th>
              <th>犠飛</th>
              <th>出塁率</th>
              <th>盗塁</th>
              <th>失策</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <% average = user.hit/user.batting.to_f %>
              <tr align="center">
                <td></td>
                <td><%= user.name %></td>
                <td><%= user.game %></td>
                <td><%= sprintf("%.3f",average) %></td>
                <td><%= user.sum_batting %></td>
                <td><%= user.sum_hit %></td>
                <td><%= user.sum_homerun %></td>
                <td><%= user.sum_two_base_hit %></td>
                <td><%= user.sum_three_base_hit %></td>
                <td><%= user.sum_dot %></td>
                <td><%= user.sum_homein %></td>
                <td><%= user.sum_strike_out %></td>
                <td><%= user.sum_ball %></td>
                <td><%= user.sum_bunt %></td>
                <td><%= user.sum_sacrifice_fly %></td>
                <td></td>
                <td><%= user.still %></td>
                <td><%= user.error %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
