<div class="body">
  <div class="container mt-5">
    <div class="row record">
      <div class="col-xs-4">
        <h2>投手記録一覧</h2>
      </div>
      <div class="col-xs-8 record-select">
        <%= form_with url: records_pitch_path, method: :get, local:true do |f| %>
          <%= f.select :search_column, [["防御率", "earned_run_average"], ["投球回", "inning"], ["勝数", "win"], ["敗数", "lose"],
            ["勝率", "win_rate"], ["失点", "to_be_point"], ["自責点", "earned_run"], ["奪三振", "to_be_strike_out"], ["被安打", "to_be_hit"],
            ["被本塁打", "to_be_homerun"], ["与四死球", "to_be_ball"]], {selected: "win"} %>
          <%= f.submit "更新する" %>
        <% end %>
      </div>
      <div class="record_link">
        <p><%= link_to "打撃成績一覧へ", records_batter_path, data: {"turbolinks" => false}, class: 'btn btn-info' %><p>
      </div>
      <div class="pitch_logo"></div>
    </div>
    <div class="row">
      <table class="table table-hover table-inverse" width="100%" style="table-layout: auto; background-color: #FFDDFF;">
        <thead>
          <tr align="center">

            <th><span class="nowrap">順位</span></th>
            <th></th>
            <th><span class="nowrap">名前</span></th>
            <th><span class="nowrap">チーム名</span></th>
            <th><span class="nowrap">防御率</span></th>
            <th><span class="nowrap">投球回</span></th>
            <th><span class="nowrap">勝</span></th>
            <th><span class="nowrap">敗</span></th>
            <th><span class="nowrap">勝率</span></th>
            <th><span class="nowrap">失点</span></th>
            <th><span class="nowrap">自責点</span></th>
            <th><span class="nowrap">奪三振</span></th>
            <th><span class="nowrap">被安打</span></th>
            <th><span class="nowrap">被本塁打</span></th>
            <th><span class="nowrap">与四死球</span></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each.with_index(1) do |user, i| %>
            <tr align="center">
            <% earned_run_average = user.earned_run*9/user.inning.to_f %>
              <td><%= i %></td>
              <td><%= attachment_image_tag user, :image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40', class: "profile-image" %></td>
              <td>
                <%= link_to user_path(user.user_id), data: {"turbolinks" => false} do %>
                  <span class="nowrap"><%= user.name %></span>
                <% end %>
              </td>
              <td>
                <%= link_to team_path(user.team_id), data: {"turbolinks" => false} do %>
                  <span class="nowrap"><%= user.team.teamname %></span>
                <% end %>
              </td>
              <td>
                <% begin %>
                  <span class="nowrap"><%= sprintf("%.2f", user.earned_run_average) %></span>
                <% rescue %>
                  0
                <% end %>
              </td>
              <td><span class="nowrap"><%= user.inning %></span></td>
              <td><span class="nowrap"><%= user.win %></span></td>
              <td><span class="nowrap"><%= user.lose %></span></td>
              <td>
                <% begin %>
                  <span class="nowrap"><%= sprintf("%.3f", user.win_rate / 10000.0) %></span>
                <% rescue %>
                  0
                <% end %>
              </td>
              <td><span class="nowrap"><%= user.to_be_point %></span></td>
              <td><span class="nowrap"><%= user.earned_run %></span></td>
              <td><span class="nowrap"><%= user.to_be_strike_out %></span></td>
              <td><span class="nowrap"><%= user.to_be_hit %></span></td>
              <td><span class="nowrap"><%= user.to_be_homerun %></span></td>
              <td><span class="nowrap"><%= user.to_be_ball %></span></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
