<div class="body">
  <div class="container">
    <div class="row days">
      <h3><%= @team_record.days %></h3>
    </div>
    <div class="score">
      <h3><%= @team.teamname %><%= @team_record.team_score %> ー <%= @team_record.rival_score %><%= @tema_record.opponent %></h3>
    </div>
  </div>
</div>
