<div class="body">
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <div class="row days">
          <h3><%= @team_record.days %></h3>
        </div>
        <div class="score">
          <h3><%= @team_record.team.teamname %><%= @team_record.team_score %> ー <%= @team_record.rival_score %><%= @team_record.opponent %></h3>
        </div>
        <div class="battery">
          <h4>バッテリー</h4>
          <div class="row battery-name">
            <h6><%= @team_record.battery %></h6>
          </div>
        </div>
        <div class="homerun">
          <h4>本塁打</h4>
          <div class="row homerun-name">
            <h6><%= @team_record.homerun %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
