<div class="body">
  <div class="container mt-5 flame">
    <div class="row">
      <div class="mx-auto">
        <div class="row days">
          <h3><%= @team_record.days %></h3>
        </div>
        <div class="game-score-show">
          <h3><%= @team_record.team.teamname %><%= @team_record.team_score %> ー <%= @team_record.rival_score %><%= @team_record.opponent %></h3>
        </div>
        <div class="game-result">
          <table class="table table-hover table-inverse">
            <tr>
              <td><h5>バッテリー</h5></td>
              <td><p><%= @team_record.battery %></p></td>
            </tr>
            <tr>
              <td><h5>本塁打</h5></td>
              <td><p><%= @team_record.homerun %></p></td>
            </tr>
          </table>
        </div>
        <div class="row result-btn">
          <% if @team_record.team_id == current_user.team_id %>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong">
              編集する
            </button>
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">試合結果</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!--試合結果の修正フォーム-->
                    <%= form_with model:@team_record, url: team_record_path(@team_record), method: :patch, local:true do |f| %>
                      <div class="form_group user-game-days">
                        <%= f.label :試合日 %>
                        <%= f.date_field :days, class: 'form-control' %>
                      </div>
                      <div class="form_group">
                        <%= f.label :対戦チーム %>
                        <%= f.text_field :opponent %>
                      </div>
                      <div class="form_group user-score">
                        <%= f.label :スコア %>
                        <%= f.number_field :team_score %>
                      </div>
                      <div class="form_group user-rival-score">
                        <%= f.label :相手スコア %>
                        <%= f.number_field :rival_score %>
                      </div>
                      <div class="form_group team-game-result">
                        <%= f.label :勝敗 %>
                        <%= f.select :result, TeamRecord.results.keys, {} %>
                      </div>
                      <div class="form_group">
                        <%= f.label :バッテリー %>
                        <%= f.text_area :battery %>
                      </div>
                      <div class="form_group team-game-homerun">
                        <%= f.label :本塁打 %>
                        <%= f.text_area :homerun %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                        <%= f.submit "試合結果を変更する", class: 'btn btn-primary' %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <%= link_to "削除する", team_record_path(@team_record), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
            <%= link_to "戻る", team_path(current_user.team_id), data: {"turbolinks" => false}, class: "col-xs-12 btn btn-secondary" %>
          <% end %>
          <%= link_to "試合一覧", team_records_path, data: {"turbolinks" => false}, class: "col-xs-12 btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
</div>
