<div class="body">
  <div class="container mt-5">
    <div class="row">
      <div class="col-xs-6 mx-auto">
        <div class="row member">
          <h4>選手一覧</h4>
        </div>
        <div class="post-player">
          <table class="table table-hover table-inverse" width="100%" style="table-layout: auto;">
            <thead>
              <tr>
                <th><span class="nowrap">名前</span></th>
                <th><span class="nowrap">ポジション</span></th>
                <th><span class="nowrap">投打</span></th>
                <th><span class="nowrap">打率</span></th>
              </tr>
            </thead>
            <tbody>
              <% @team_users.each do |user| %>
                <tr>
                  <td><span class="nowrap"><%= user.name %></span></td>
                  <td><span class="nowrap"><%= user.position %></span></td>
                  <td><span class="nowrap"><%= user.throw %></span></td>
                  <% average = user.records.all.sum(:hit)/user.records.all.sum(:batting).to_f %>
                  <td><span class="nowrap"><%= sprintf("%.3f",average) %></span></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-6 mx-auto">
        <div class="row">
          <div class="comment-form">
            <%= form_with model:@post, url: team_posts_path do |f| %>
              <%= f.text_area :comment, class: "form-control", size: "1x1" %>
              <div class="icon-form">
                <%= f.label :image, for: "file-input", class: "fas fa-image" do %>
              　   <%= attachment_image_tag @post, :image, fallback: 'no_image.jpg', format: 'jpeg', size:'100x100', onChange: "$('.img_field').change()", class: 'center-block img_prev'%>
                　<%= f.file_field :image, class: 'img_field', id: "file-input", style: "display: none;" %>
                <% end %>
                <%= button_tag :type => "submit", :class =>"btn sub-btn" do %>
                  <i class="fas fa-paper-plane"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <table class="post_comments" style="table-layout:fixed;">
          <%= render 'index', posts: @posts %>
        </table>
      </div>
    </div>
  </div>
</div>
