<div class="body">
  <div class="container mt-5 flame">
    <div class="row">
      <div class="mx-auto">
        <h3>イベント追加</h3>
        <div class="modal-body">
          <!--イベント追加フォーム-->
          <%= form_with model: @info, url: infos_path, method: :post, local: true do |f| %>
            <div class="form_group">
              <%= f.label :イベント名 %>
              <%= f.text_area :body %>
            </div>
            <div class="form_group">
              <%= f.label :日時 %>
              <%= f.datetime_select :start_time %>
            </div>
            <!--google map-->
            <div>
              <%= f.fields_for :spot do |spot| %>
                <%= spot.label :address, "イベント場所(Google Mapで検索)", class: "spot_title" %>
                <%= spot.text_field :address, placeholder: "場所を入力", id: "address", class: "spot_text" %>
                <%= spot.submit "表示する", onclick: "codeAddress()", type: "button" %>
              <% end %>
            </div>
            <div id="map"></div>
            <div class="modal-footer">
              <%= f.submit "イベントを追加する", class: 'btn btn-primary' %>
            </div>
          <% end %>
          <%= link_to "戻る", team_path(current_user.team_id), data: {"turbolinks" => false}, class: "col-xs-12 btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
