<div class="body">
  <div class="container mt-5 flame">
    <div class="flash">
      <%= flash[:info_update] %>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2><%= @info.team.teamname %></h2>
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th><h4>イベント内容</h4></th>
                <th><h5><%= @info.body %></h5></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><h4>場所</h4></td>
                <td><h5><%= @info.spot.address %></h5></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%= link_to "戻る", team_path(current_user.team_id), data: {"turbolinks" => false}, class: "col-xs-12 btn btn-secondary" %>
    <%= link_to "イベントを修正する", edit_info_path(@info), data: {"turbolinks" => false}, class: "col-xs-12 btn btn-success" %>
    <div id="show_map"></div>
  </div>
</div>
