<!DOCTYPE html>
<html>
  <head>
    <title>BaseballScore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7b4ac370e3.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"]%>&callback=initMap" async defer></script>
    <script src="//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", type:"text/javascript"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <div class="wrapper">
      <header>
        <div class="header-logo"></div>
        <% if user_signed_in? && current_user.team_id.present? %>
          <% if unchecked_notifications.any? %>
              <i class="fa fa-circle" style="color: gold;"></i>
          <% end %>
          <li>
              <%= link_to "NOTICE", team_teams_room_path(current_user.team_id), data: {"turbolinks" => false} %>
          </li>
        <% end %>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <% if user_signed_in? %>
          <nav class="globalMenuSp">
            <ul>
              <% if current_user.team_id.present? %>
                <li><%= link_to "マイチーム", team_path(current_user.team_id), data: {"turbolinks" => false} %></li>
                <li><%= link_to "マイページ", user_path(current_user), data: {"turbolinks" => false} %></li>
              <% end %>
              <li><%= link_to "試合一覧", team_records_path, data: {"turbolinks" => false} %></li>
              <li><%= link_to "打撃成績一覧", records_batter_path, data: {"turbolinks" => false} %></li>
              <li><%= link_to "投手成績一覧", records_pitch_path, data: {"turbolinks" => false} %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {"turbolinks" => false} %></li>
              <li><%= link_to "退会する",user_path(current_user.id), method: :delete, "data-confirm" => "本当に退会しますか？", class: 'btn btn-danger' %></li>
            </ul>
          </nav>
        <% else %>
          <nav class="globalMenuSp">
            <ul>
              <li><%= link_to "トップページ", root_path, data: {"turbolinks" => false} %></li></li>
              <li><%= link_to "Enjoy_Baseballとは？", homes_about_path, data: {"turbolinks" => false} %></li>
              <li><%= link_to "打撃成績一覧", records_batter_path, data: {"turbolinks" => false} %></li>
              <li><%= link_to "投手成績一覧", records_pitch_path, data: {"turbolinks" => false} %></li>
              <li><%= link_to "ログイン", new_user_session_path, data: {"turbolinks" => false} %></li>
              <li><%= link_to "新規登録", new_user_registration_path, data: {"turbolinks" => false} %></li>
            </ul>
          </nav>
        <% end %>
      </header>

      <% if flash[:alert] %>
        <div class="notification is-danger">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>
      <!--上に戻るボタン-->
      <span id="back">
        <a href="">
          <%= image_tag asset_path('arrow.png'), data: {"turbolinks"=>false}, class: "arrow" %>
        </a>
      </span>
      <footer>
        <div class="footer-text">
          <p>©︎Enjoy_Baseball</p>
        </div>
      </footer>
    </div>
  </body>
</html>
