<!DOCTYPE html>
<html>
  <head>
    <title>BaseballScore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/7b4ac370e3.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <header>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <% if user_signed_in? %>
        <nav class="globalMenuSp">
          <ul>
            <% if current_user.team_id.present? %>
              <li><%= link_to "試合一覧", team_records_path %></li>
              <li><%= link_to "マイチーム", team_path(current_user.team_id) %></li>
            <% end %>
            <li><%= link_to "マイページ", user_path(current_user) %></li>
            <li><%= link_to "打撃成績一覧", records_batter_path %></li>
            <li><%= link_to "投手成績一覧", records_pitch_path %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "退会する",user_path(current_user.id), method: :delete, "data-confirm" => "本当に退会しますか？", class: 'btn btn-danger' %></li>
          </ul>
        </nav>
      <% else %>
        <nav class="globalMenuSp">
          <ul>
            <li><%= link_to "打撃成績一覧", records_batter_path %></li>
            <li><%= link_to "投手成績一覧", records_pitch_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
          </ul>
        </nav>
      <% end %>
    </header>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
    <!--上に戻るボタン-->
    <span id="back">
      <a href="">
        <%= image_tag asset_path('arrow.png'), data: {"turbolinks"=>false}, class: "arrow" %>
      </a>
    </span>
  </body>
</html>
